<md-toolbar class="main-header" layout="column">

  <div layout="row">
    <h1 class="product-logo header-h1" flex="grow">
        <a href="#">
            <img src="./images/logoimages/logo-el-full-35h.png" alt="" hide show-gt-xs />
            <img src="./images/logoimages/logo-el-full-30h-noslogan.png" alt="" hide-gt-xs />
            <!-- <img src="http://placehold.it/160x30?text=logo" alt=""/> -->
        </a>
    </h1>
    <div layout="column" class="" flex="25" layout-align="center end" ng-controller="RightSidebarCtrl" hide-gt-xs>
      <md-button class="main-menu-toolbar-button md-raised" ng-click="toggleRight()">
        <!-- <md-icon class="main-menu-toolbar" md-svg-src=".../../images/icons/ic_menu_24px.svg"></md-icon> -->
      </md-button>
    </div>

    </div>
    <nav class="main-navigation" layout="row" hide-xs>
    <div layout="row">


           <md-button><a href="#/home" class="main-nav-links">Home</a></md-button>


            <!-- <md-button><a href="#/gallery" class="main-nav-links">Gallery</a></md-button> -->
            <md-button><a href="#/discover" class="main-nav-links">Discover</a></md-button>


            <md-button><a href="#/how-it-works" class="main-nav-links">How It Works</a></md-button>

         <md-button><a href="#/custom" class="main-nav-links">Custom</a></md-button>
        <md-button><a href="#/contact" class="main-nav-links">Contact Us</a></md-button>

    </div>
    <div class="nav-dropdown-wrapper">
      <a href="#/sandbox" class="nav-dropdown-trigger">A Philadelphia Company</a>
    </div>
        <div class="header-cta">
            <a href="#/groups" class="main-nav-links">
                <md-button class="md-raised md-F44336">Group Friendly</md-button>
            </a>



            </script>
        </div>
    </nav>
</md-toolbar>
