
    <div class="site-width" flex="grow">
      <div layout="row" class="footer-upper" layout-padding layout-align="center center">
        <div flex="50" class="footer-social">
          <dl>
            <dt>Follow us on:</dt>
              <dd>
                <a href="#">
                  <!-- <img class="icon-footer-gplus"
                       src="http://placehold.it/20x20"/> -->
                       <i class="fa fa-google-plus social-footer" aria-hidden="true"></i>
                </a>
              </dd>
              <dd>
                <a href="#">
                  <!-- <img class="icon-footer-gplus"
                       src="http://placehold.it/20x20"/> -->
                       <i class="fa fa-facebook-square social-footer" aria-hidden="true"></i>
                </a>

              </dd>
              <dd>
                <a href="#">
                  <!-- <img class="icon-footer-gplus"
                       src="http://placehold.it/20x20"/> -->
                       <i class="fa fa-twitter-square social-footer" aria-hidden="true"></i>
                </a>
              </dd>
              <!-- <dd>
                <a href="#">
                  <img class="icon-footer-gplus"
                       src="http://placehold.it/20x20"/>
                </a>
              </dd> -->

          </dl>
        </div>

        <div flex="50" class="footer-meta-links" layout-align="end center">
          <div layout="row" layout-align="end end">
          <ul flex="50">
            <li>About</li>
            <li>Contact Us</li>
          </ul>
          </div>
        </div>
      </div>
        <nav class="footer-nav" layout="row" layout-padding layout-align="center center">
          <dl flex="25">
            <dt><a href="#">Home</a></dt>
          </dl><dl flex="25">
            <dt><a href="#/discover">Discover</a></dt>
          </dl><dl flex="25">
            <dt><a href="#/how-it-works">How It Works</a></dt>
          </dl><dl flex="25">
            <dt><a href="#/custom">Custom</a></dt>
          </dl>

        </nav>
        <div class="footer-lower" layout="row" layout-padding>
          <div class="footer-meta-links" flex="70">
            <ul>
              <li><a href="">Help</a></li>
              <li><a href="">Google</a></li>
              <li><a href="">Privacy</a></li>
              <li><a href="">Terms</a></li>
            </ul>
          </div>
          <div class="footer-locale-switcher" flex="30">
             <div layout="column" layout-align="center center">
               <div class="">
                 Language
               </div>
             </div>
          </div>
        </div>

      </div>
    </div>
