/*Landing view CSS*/
/*.section-group-image {
  position: absolute;
bottom: 0;
}*/

.google-blue {
    background: #448aff;
    color: #f2f2f2;
}
.google-blue h1 {
    color: #f2f2f2;
}

.patting40{
  padding-bottom: 60px;
}

/**
 * hero section
 **/
 .section-hero {
     /*min-height: 400px;*/
     padding: 0;
 }

 .section-hero-copy {
   padding-bottom: 46px;
   padding-top: 32px;
 }

 .xs-button-margin-hero {
   margin: 0px;
 }

.hero-image {
       background-position: top left;
     background-size: cover;
    height: 100%;
     left: 0;
    position: absolute;
     top: 0;
    width: 100%;
}
/* google analytics uses this as general class for hero images
 - And then will use a second hero-img to make custom changes like the image and background position it seems
*/
.hero-img {

    background-image: url('../../images/hero-media-image/section-hero-media-all-categories-1.png');
    /*background-image: url('../imgs/hero-745-624.png');*/
}

.hero-img-xs {

    background-image: url('../../images/hero-media-image/section-hero-media1-xs-2.jpg');
    background-repeat: no-repeat;
    /*background-image: url('../imgs/hero-745-624.png');*/
}

.section-hero-media {
  min-height: 176px;
  position: relative;
}


/**
 * quote section
 **/

 .section-quote {
    padding: 42px 0 44px;
    position: relative;
}

/* end of quote section */


/**
 * groups section
 **/
.section-groups {padding: 40px 0 0px; position: relative;}

.section-xs {padding: 40px 0 60px; position: relative;}

.icon-arrow-related {
    bottom: 22px;
    color: #448aff;
    position: absolute;
    right: 22px;
}
.icon-arrow-related-stacked {
    bottom: 10px;
    color: #448aff;
    position: absolute;
    /*right: 22px;*/
}

.core-cards {
    margin-top: 0px;
}

.core-core-card-inner {
    color: #a3a3a3;
    display: block;
    min-height: 280px;
    max-width: 228px;
    padding-bottom: 60px;
    position: relative;
    z-index: 500;
}




.core-card .core-card-inner-group {
background: #fff;
border-radius: 2px;
box-sizing: border-box;
display: block;
padding: 10px;
-webkit-transition: box-shadow .2s ease-in-out;
-moz-transition: box-shadow .2s ease-in-out;
-ms-transition: box-shadow .2s ease-in-out;
-o-transition: box-shadow .2s ease-in-out;
transition: box-shadow .2s ease-in-out;
width: 100%;
}

.device-animation {
    -webkit-transition: transform .8s ease-in-out;
    -moz-transition: transform .8s ease-in-out;
    -ms-transition: transform .8s ease-in-out;
    -o-transition: transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.section-sub-heading {
    letter-spacing: .5px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;
}

h4.section-sub-sub-heading  {
    letter-spacing: .5px;
    margin: 50px 0 0px 0;
    position: relative;
}





.section-sub-heading:after {
    background-color: #f6f6f6;
    bottom: -2px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 60px;
}

.section-sub-heading.border-yellow:after {
    background-color: #ffbc00;
}



h1, h2, h3, blockquote {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


    .font-large {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }


    p {
        margin: 0 0 30px;
    }

/*Enterprise row cards*/
.h4-vert-core {
  margin:0 0 5px;
  font-weight: 400;
  color: #444;
  font-family: 'Roboto', arial, sans-serif;
}
.p-vert-core {
  line-height: 18px;
  font-size: 14px;
}
.core-card.core-card-light-gray .core-card-inner {
    background: #f6f6f6
}

/*.core-card.core-card-related {
    margin-bottom: 5px
}*/

.core-card.core-card-related .core-card-inner {
    color: #a3a3a3;
    display: block;
    /*min-height: 280px;*/
    max-width: 400px;
    padding-bottom: 10px;
    position: relative;
    z-index: 500
}

.core-card.core-card-related .core-card-inner:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    color: #a3a3a3
}
.core-card .core-card-inner {
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    padding: 15px;
    -webkit-transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -ms-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    width: 100%
}

.core-card-inner-group {
    color: #a3a3a3 !important;
    display: block;
    /*min-height: 280px;*/
    max-width: 400px;
    padding-bottom: 60px;
    position: relative;
    z-index: 500;
}

.core-card .core-card-inner-group {
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    padding: 15px;
    -webkit-transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -ms-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    width: 100%
}
.core-card.core-card-light-gray .core-card-inner-group {
    background: #f6f6f6
}

.core-card.core-card-related .core-card-inner:hover .icon-arrow-related {
    color: #2962ff
}
.core-card.core-card-related .core-card-inner-group .product-logo {
    margin-bottom: 35px;
    max-height: 30px;
    max-width: 100%
}
.core-card.core-card-related h3 {
    margin-bottom: 14px
}

.core-card.core-card-related .product-logo {
    /*margin-bottom: 35px;*/
    max-height: 25px;
    max-width: 100%
}

.core-card.core-card-related .icon-arrow-related {
    bottom: 22px;
    color: #448aff;
    position: absolute;
    right: 22px
}

[dir='rtl'] .core-card.core-card-related .icon-arrow-related {
    left: 22px;
    right: auto
}

.card.card-related h3 {
    margin-bottom: 14px
}

h1, h2, h3, blockquote {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}


a, a:hover {
    color: #448aff;
    cursor: pointer;
    text-decoration: none
}

.product-logo {

    border: 0;
    outline: 0
}

img {
    display: block
}

.personal-services-link {
    color: #448aff;
    text-transform: uppercase;
    font-weight: 500;
}

@media (min-width: 600px) {





  .core-card-inner-group {
      color: #a3a3a3;
      display: block;
      /*min-height: 140px;*/
      max-width: 400px;
      padding-bottom: 60px;
      position: relative;
      z-index: 500;
  }

  .core-card .core-card-inner-group {
      background: #fff;
      border-radius: 2px;
      box-sizing: border-box;
      display: block;
      padding: 15px;
      -webkit-transition: box-shadow .2s ease-in-out;
      -moz-transition: box-shadow .2s ease-in-out;
      -ms-transition: box-shadow .2s ease-in-out;
      -o-transition: box-shadow .2s ease-in-out;
      transition: box-shadow .2s ease-in-out;
      width: 100%
  }
  .section-hero {
      max-height: 430px;
      padding: 0;
  }

  .section-hero-copy {
      padding: 80px 0;
  }
  .section-hero-media {
      bottom: 0;
      position: absolute;
      top: 0;
      width: 50%;
      min-height: 400px;
  }

  .section-quote {
     padding: 42px 0 44px;
     position: relative;
  }

    .section-enterprise {
        padding: 88px 0 94px;
    }
    .personal-services-row  {
        /*min-height: 224px;*/
    }
    .enterprise-personalised-services {

    }

    .personal-services-link {
        font-size: 18px;
    }
    a.personal-services-link:hover{
        text-decoration: underline;
    }
    .section-sub-heading {
        margin-bottom: 35px;
        padding-bottom: 20px;
    }


    .font-large {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 25px;
    }


}

@media (min-width: 960px) {

  /* hero media */

  .section-hero {
      max-height: 430px;
      padding: 0;
  }

  .section-hero-copy {
      padding: 80px 0;
  }
  .section-hero-media {
      bottom: 0;
      position: absolute;
      top: 0;
      width: 50%;
      min-height: 400px;
  }

  .section-quote {
     padding: 42px 0 44px;
     position: relative;
  }

    .section-enterprise {
        padding: 88px 0 94px;
    }
    .personal-services-row  {
        /*min-height: 224px;*/
    }
    .enterprise-personalised-services {

    }

    .personal-services-link {
        font-size: 18px;
    }
    a.personal-services-link:hover{
        text-decoration: underline;
    }
    .section-sub-heading {
        margin-bottom: 35px;
        padding-bottom: 20px;
    }


    .font-large {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    /**
    * group section
    **/

    .core-card-inner-group {
        color: #a3a3a3;
        display: block;
        min-height: 280px;
        max-width: 280px;
        padding-bottom: 60px;
        position: relative;
        z-index: 500;
    }

    .core-card .core-card-inner-group {
        background: #fff;
        border-radius: 2px;
        box-sizing: border-box;
        display: block;
        padding: 30px;
        -webkit-transition: box-shadow .2s ease-in-out;
        -moz-transition: box-shadow .2s ease-in-out;
        -ms-transition: box-shadow .2s ease-in-out;
        -o-transition: box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out;
        width: 100%
    }


/*Enterprise Row cards*/

    /*.core-card.core-card-related {
        margin-bottom: 35px;
        margin-top: 10px
    }*/


}
