<div class="galleries-snapshot-wrapper" ng-controller="GallerySnapshotController as vm">

    <!-- small hero -->
    <section class="hero-50-bottom-margin" layout="row">
        <div class="media-photo-discovery-small-hero-fix media-photo-block small-hero">
            <div class="media-cover media-cover-dark small-hero-image">
                <!-- <div class="media-covelike media-cover-dark small-hero-image" style=" background-image: url('./images/google-campus-1280-642.jpg');"> -->

            </div>

        </div>
        <div class="g" layout="row" flex="grow" layout-align="center center">
            <div class="text-contrast small-hero-text" layout="column">
                <h1 class="row-space-1 text-contrast small-hero-headline">Get Pics Smart Pics</h1>
                <h3 class="text-lead row-space-2 text-contrast">Explore our collection of our inspired pics.</h3>
            </div>
        </div>
    </section>
    <!-- small hero end -->


    <section class="discovery-section">
        <div class="site-width">
            <div layout="column" class="gallery-snapshot-container row-space-20">
                <div layout="row" class="row-side-padding-fix">
                    <div class="galleries-snapshot-category-name-row">
                        <h2 class="discovery-section-headline">Silicon Valley & Tech</h2>
                    </div>
                </div>
                <div class="row-space-6" layout="column" layout-gt-sm="row" layout-align-gt-xs="center start" layout-padding>
                    <div flex-gt-sm="70" class="gallery-snapshot-big-image">
                        <figure class="media-photo media-photo-block discovery-image">
                            <img src="./images/google-campus-1280-642.jpg" class="discovery-image img-responsive" alt="big image gallery snapshot" />

                            <figurecaption class="media-caption"></figurecaption>
                        </figure>
                    </div>
                    <div flex-gt-sm="30" class="gallery-snapshot-category-info-wrapper" layout="column" layout-align="">
                        <!-- TODO: figure out small screen sizes positioning margin for the section below -->
                        <div class="gallery-snapshot-category-info">
                            <h4 class="style-highlights-h4 info-header">SV/Tech Highlights</h4>
                            <div class="gallery-snapshot-category-body">
                                 Pics inspired by the place where it all began and arguably set the standard. Emulate and get inspired by the culture of Startups, fresh ideas, & ingenuity. A profile pics+ style that can best be summed up as <i>Getting Things Done</i> casual.
                            </div>
                        </div>
                    </div>
                </div>
                <div layout="column">

                    <div layout="row" class="row-side-padding-fix info-header">
                        <h4 class="available-in-h4 available-in-h4-bottom-spacing-fix ">
          Available In Category
                    </div>
                  </div>
        <div layout="row" layout-wrap layout-padding>
          <!-- ngrepeat will be needed here TODO -->

          <div layout="column">

            <div class="panel-image listing-img">
              <a href="#" class="media-cover media-photo">
                <div class="media-cover">
                  <img src="./images/silicon-valley/torke-large-1.jpeg" class="img-responsive-height" alt="panel snapshot image" />
                </div>
              </a>
              <div class="panel-overlay-container">
              <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                <div>
                  <sup class="h6 text-contrast">$</sup>
                  <span class="h3 price-amount">99</span>
                  <sup class="h6 text-contrast"></sup>

                </div>

              </div>

              </div>
            </div>

            <div class="gallery-snapshot-body-container">
              <div class="media">
                <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                  <img ng-src="{{vm.testImages[0]}}" width="56px" alt="" />
                </a>
                <a href="#" class="text-normal">
                  <h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Wordpress Hero</h3>
                </a>
                <div class="text-muted listing-location text-truncate">
                    Quick Or Meta- Description Of The Product
                </div>
              </div>
            </div>
          </div>


          <div layout="column">

            <div class="panel-image listing-img">
              <a href="#" class="media-cover media-photo">
                <div class="media-cover">
                  <img src="./images/silicon-valley/mmayer-1.jpg" class="img-responsive-height" alt="panel snapshot image" />
                </div>
              </a>
              <div class="panel-overlay-container">
              <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                <div>
                  <sup class="h6 text-contrast">$</sup>
                  <span class="h3 price-amount">99</span>
                  <sup class="h6 text-contrast"></sup>

                </div>

              </div>
              <!-- panel overlay panel overlay container TODO for the price -->
              </div>
            </div>

            <div class="gallery-snapshot-body-container">
              <div class="media">
                <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                  <img ng-src="{{vm.testImages[1]}}" width="56px" alt="" />
                </a>
                <a href="#" class="text-normal">
                  <h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Woman Of The Yahoo</h3>
                </a>
                <div class="text-muted listing-location text-truncate">
                    From Google employee #11 to Yahoos first woman Ceo
                </div>
              </div>
            </div>
          </div>


          <div layout="column">

            <div class="panel-image listing-img">
              <a href="#" class="media-cover media-photo">
                <div class="media-cover">
                  <img src="assets/images/silicon-valley/nadella_3079372b.jpg" class="img-responsive-height" alt="panel snapshot image" />
                </div>
              </a>
              <div class="panel-overlay-container">
              <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                <div>
                  <sup class="h6 text-contrast">$</sup>
                  <span class="h3 price-amount">99</span>
                  <sup class="h6 text-contrast"></sup>

                </div>

              </div>
              <!-- panel overlay panel overlay container TODO for the price -->
              </div>
            </div>

            <div class="gallery-snapshot-body-container">
              <div class="media">
                <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                  <img ng-src="{{vm.testImages[2]}}" width="56px" alt="" />
                </a>
                <a href="#" class="text-normal">
                  <h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">CEO soft</h3>
                </a>
                <div class="text-muted listing-location text-truncate">
                    Quick Or Meta- Description Of The Product
                </div>
              </div>
            </div>
          </div>


        </div>

     </div>

     <div layout="row" layout-align="center center" class="row-space-6">
       <div layout="column">
        <a href="#/gallery/silicon-valley">
          <md-button class="md-raised md-448aff md-button-large">
            See All Available Pics
          </md-button>
        </a>
       </div>
     </div>
     <div layout="column" class="divider-hr">
       <md-divider class="divider-hr"></md-divider>
      </div>

    </div>

  </section>
<!-- section end of silicon valley -->

<!-- culinary food start -->

<section class="discovery-section">
  <div class="site-width">
    <div layout="column" class="gallery-snapshot-container row-space-20">
    <div layout="row" class="row-side-padding-fix">
        <div class="galleries-snapshot-category-name-row">
          <h2 class="discovery-section-headline">Culinary & Food</h2>
        </div>
    </div>
    <div class="row-space-6" layout="column" layout-gt-sm="row" layout-align-gt-xs="center start" layout-padding>
      <div flex-gt-sm="70" class="gallery-snapshot-big-image">
        <figure class="media-photo media-photo-block discovery-image">
          <img src="./images/noma-kitchen-1.jpg" class="discovery-image img-responsive" alt="big image gallery snapshot" />

          <figurecaption class="media-caption"></figurecaption>
        </figure>
      </div>
      <div flex-gt-sm="30" class="gallery-snapshot-category-info-wrapper" layout="column" layout-align="">
        <!-- TODO: figure out small screen sizes positioning margin for the section below -->
        <div class="gallery-snapshot-category-info">
          <h4 class="style-highlights-h4 info-header">Culinary Highlights</h4>
                        <div class="gallery-snapshot-category-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores in optio eum reprehenderit, vitae, nostrum repudiandae deserunt accusamus. Doloribus nostrum quod sit odit quos voluptates repudiandae nobis tenetur ad. Omnis.
                        </div>
                    </div>
                </div>
            </div>
            <div layout="column">

                <div layout="row" class="row-side-padding-fix info-header">
                    <h4 class="available-in-h4 available-in-h4-bottom-spacing-fix ">
        Available In Category
      </div></div>
      <div layout="row" layout-wrap layout-padding>
        <!-- ngrepeat will be needed here TODO -->

        <div layout="column">

          <div class="panel-image listing-img">
            <a href="#" class="media-cover media-photo">
              <div class="media-cover">
                <img src="./images/other-influencers/cat.png" class="img-responsive-height" alt="panel snapshot image" />
              </div>
            </a>
            <div class="panel-overlay-container">
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
              <div>
                <sup class="h6 text-contrast">$</sup>
                <span class="h3 price-amount">99</span>
                <sup class="h6 text-contrast"></sup>

              </div>

            </div>

            </div>
          </div>

          <div class="gallery-snapshot-body-container">
            <div class="media">
              <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                <img ng-src="{{vm.testImages[3]}}" width="56px" alt="" />
              </a>
              <a href="#" class="text-normal">
<h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Lady Iron Chef</h3>
              </a>
              <div class="text-muted listing-location text-truncate">
                  Quick Or Meta- Description Of The Product
              </div>
            </div>
          </div>
        </div>


        <div layout="column">

          <div class="panel-image listing-img">
            <a href="#" class="media-cover media-photo">
              <div class="media-cover">
                <img src="./images/other-influencers/roy.jpg" class="img-responsive-height" alt="panel snapshot image" />
              </div>
            </a>
            <div class="panel-overlay-container">
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
              <div>
                <sup class="h6 text-contrast">$</sup>
                <span class="h3 price-amount">99</span>
                <sup class="h6 text-contrast"></sup>

              </div>

            </div>
            <!-- panel overlay panel overlay container TODO for the price -->
            </div>
          </div>

          <div class="gallery-snapshot-body-container">
            <div class="media">
              <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                <img ng-src="{{vm.testImages[4]}}" width="56px" alt="" />
              </a>
              <a href="#" class="text-normal">
<h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Street Food Legend</h3>
              </a>
              <div class="text-muted listing-location text-truncate">
                  Quick Or Meta- Description Of The Product
              </div>
            </div>
          </div>
        </div>


        <div layout="column">

          <div class="panel-image listing-img">
            <a href="#" class="media-cover media-photo">
              <div class="media-cover">
                <img src="./images/other-influencers/35-amanda-hesser.jpg" class="img-responsive-height" alt="panel snapshot image" />
              </div>
            </a>
            <div class="panel-overlay-container">
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
              <div>
                <sup class="h6 text-contrast">$</sup>
                <span class="h3 price-amount">99</span>
                <sup class="h6 text-contrast"></sup>

              </div>

            </div>
            <!-- panel overlay panel overlay container TODO for the price -->
            </div>
          </div>

          <div class="gallery-snapshot-body-container">
            <div class="media">
              <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                <img ng-src="{{vm.testImages[5]}}" width="56px" alt="" />
              </a>
              <a href="#" class="text-normal">
<h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Food52 It</h3>
              </a>
              <div class="text-muted listing-location text-truncate">
                  Quick Or Meta- Description Of The Product
              </div>
            </div>
          </div>
        </div>


      </div>

   </div>

   <div layout="row" layout-align="center center" class="row-space-6">
     <div layout="column">
      <a href="#/gallery">
        <md-button class="md-raised md-448aff md-button-large">
          See All Available Pics
        </md-button>
      </a>
     </div>
   </div>
  <div layout="column" class="divider-hr">
    <md-divider class="divider-hr"></md-divider>
  </div>

  </div>

</section>

<!-- culinary food end -->


<!-- cheeky options -->

<section class="discovery-section">
  <div class="site-width">
    <div layout="column" class="gallery-snapshot-container row-space-20">
    <div layout="row" class="row-side-padding-fix">
        <div class="galleries-snapshot-category-name-row">
          <h2 class="discovery-section-headline">Cheeky options</h2>
        </div>
    </div>
    <div class="row-space-6" layout="column" layout-gt-sm="row" layout-align-gt-xs="center start" layout-padding>
      <div flex-gt-sm="70" class="gallery-snapshot-big-image">
        <figure class="media-photo media-photo-block discovery-image">
          <img src="./images/cheeky/boybluehoving.jpg" class="discovery-image img-responsive" alt="big image gallery snapshot" />

          <figurecaption class="media-caption"></figurecaption>
        </figure>
      </div>
      <div flex-gt-sm="30" class="gallery-snapshot-category-info-wrapper" layout="column" layout-align="">
        <!-- TODO: figure out small screen sizes positioning margin for the section below -->
        <div class="gallery-snapshot-category-info">
          <h4 class="style-highlights-h4 info-header">Cheeky Highlights</h4>
                    <div class="gallery-snapshot-category-body">
                        Crossover style for creative types, performers, & even entrepreneurs & fresh business people. It uses cool high production value setups, cool locations & whimsical ideas to feed the need of unique self-expression in the marketplace. A style that can be summed up best by <i>Getting Things Done</i> creativly.
                    </div>
                </div>
            </div>
        </div>
        <div layout="column">

            <div layout="row" class="row-side-padding-fix info-header">
                <h4 class="available-in-h4 available-in-h4-bottom-spacing-fix ">
        Available In Category
      </div></div>
      <div layout="row" layout-wrap layout-padding>
        <!-- ngrepeat will be needed here TODO -->

        <div layout="column">

          <div class="panel-image listing-img">
            <a href="#" class="media-cover media-photo">
              <div class="media-cover">
                <img src="./images/cheeky/cliffsofDover.jpg" class="img-responsive-height" alt="panel snapshot image" />
              </div>
            </a>
            <div class="panel-overlay-container">
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
              <div>
                <sup class="h6 text-contrast">$</sup>
                <span class="h3 price-amount">120</span>
                <sup class="h6 text-contrast"></sup>

              </div>

            </div>

            </div>
          </div>

          <div class="gallery-snapshot-body-container">
            <div class="media">
              <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                <img ng-src="{{vm.testImages[6]}}" width="56px" alt="" />
              </a>
              <a href="#" class="text-normal">
<h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Cliffs of Philly</h3>
              </a>
              <div class="text-muted listing-location text-truncate">
                  Quick Or Meta- Description Of The Product
              </div>
            </div>
          </div>
        </div>


        <div layout="column">

          <div class="panel-image listing-img">
            <a href="#" class="media-cover media-photo">
              <div class="media-cover">
                <img src="./images/cheeky/stress_one-913.jpeg" class="img-responsive-height" alt="panel snapshot image" />
              </div>
            </a>
            <div class="panel-overlay-container">
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
              <div>
                <sup class="h6 text-contrast">$</sup>
                <span class="h3 price-amount">150</span>
                <sup class="h6 text-contrast"></sup>

              </div>

            </div>
            <!-- panel overlay panel overlay container TODO for the price -->
            </div>
          </div>

          <div class="gallery-snapshot-body-container">
            <div class="media">
              <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                <img ng-src="{{vm.testImages[7]}}" width="56px" alt="" />
              </a>
              <a href="#" class="text-normal">
<h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Too Many Papers</h3>
              </a>
              <div class="text-muted listing-location text-truncate">
                  Quick Or Meta- Description Of The Product
              </div>
            </div>
          </div>
        </div>


        <div layout="column">

          <div class="panel-image listing-img">
            <a href="#" class="media-cover media-photo">
              <div class="media-cover">
                <img src="assets/images/cheeky/girlflying.jpg" class="img-responsive-height" alt="panel snapshot image" />
              </div>
            </a>
            <div class="panel-overlay-container">
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
              <div>
                <sup class="h6 text-contrast">$</sup>
                <span class="h3 price-amount">110</span>
                <sup class="h6 text-contrast"></sup>

              </div>

            </div>
            <!-- panel overlay panel overlay container TODO for the price -->
            </div>
          </div>

          <div class="gallery-snapshot-body-container">
            <div class="media">
              <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                <img ng-src="{{vm.testImages[8]}}" width="56px" alt="" />
              </a>
              <a href="#" class="text-normal">
<h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Girl Hover Desk</h3>
              </a>
              <div class="text-muted listing-location text-truncate">
                  Quick Or Meta- Description Of The Product
              </div>
            </div>
          </div>
        </div>


      </div>

   </div>

   <div layout="row" layout-align="center center" class="row-space-6">
     <div layout="column">
      <a href="#/gallery/cheeky">
        <md-button class="md-raised md-448aff md-button-large">
          See All Available Pics
        </md-button>
      </a>
     </div>
   </div>
  <div layout="column" class="divider-hr">
    <md-divider class="divider-hr"></md-divider>
  </div>

  </div>

</section>

<!-- end cheeky options -->

<!-- writers authors start -->

<section class="discovery-section">
  <div class="site-width">
    <div layout="column" class="gallery-snapshot-container row-space-20">
    <div layout="row" class="row-side-padding-fix">
        <div class="galleries-snapshot-category-name-row">
          <h2 class="discovery-section-headline">Writers & Publishing</h2>
        </div>
    </div>
    <div class="row-space-6" layout="column" layout-gt-sm="row" layout-align-gt-xs="center start" layout-padding>
      <div flex-gt-sm="70" class="gallery-snapshot-big-image">
        <figure class="media-photo media-photo-block discovery-image">
          <img src="./images/harpercollins-office.jpg" class="discovery-image img-responsive" alt="big image gallery snapshot" />

          <figurecaption class="media-caption"></figurecaption>
        </figure>
      </div>
      <div flex-gt-sm="30" class="gallery-snapshot-category-info-wrapper" layout="column" layout-align="">
        <!-- TODO: figure out small screen sizes positioning margin for the section below -->
        <div class="gallery-snapshot-category-info">
          <h4 class="style-highlights-h4 info-header">Writers Highlights</h4>
                <div class="gallery-snapshot-category-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores in optio eum reprehenderit, vitae, nostrum repudiandae deserunt accusamus. Doloribus nostrum quod sit odit quos voluptates repudiandae nobis tenetur ad. Omnis.
                </div>
            </div>
        </div>
</div>
<div layout="column">

    <div layout="row" class="row-side-padding-fix info-header">
        <h4 class="available-in-h4 available-in-h4-bottom-spacing-fix ">
        Available In Category
      </div></div>
      <div layout="row" layout-wrap layout-padding>
        <!-- ngrepeat will be needed here TODO -->

        <div layout="column">

          <div class="panel-image listing-img">
            <a href="#" class="media-cover media-photo">
              <div class="media-cover">
                <img src="./images/other-influencers/stephanie-meyer-twilight-1.jpeg" class="img-responsive-height" alt="panel snapshot image" />
              </div>
            </a>
            <div class="panel-overlay-container">
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
              <div>
                <sup class="h6 text-contrast">$</sup>
                <span class="h3 price-amount">99</span>
                <sup class="h6 text-contrast"></sup>

              </div>

            </div>

            </div>
          </div>

          <div class="gallery-snapshot-body-container">
            <div class="media">
              <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                <img ng-src="{{vm.testImages[9]}}" width="56px" alt="" />
              </a>
              <a href="#" class="text-normal">
<h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Vampire Novelista</h3>
              </a>
              <div class="text-muted listing-location text-truncate">
                  Quick Or Meta- Description Of The Product
              </div>
            </div>
          </div>
        </div>


        <div layout="column">

          <div class="panel-image listing-img">
            <a href="#" class="media-cover media-photo">
              <div class="media-cover">
                <img src="./images/other-influencers/michael-pietsch-1109x832.jpg" class="img-responsive-height" alt="panel snapshot image" />
              </div>
            </a>
            <div class="panel-overlay-container">
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
              <div>
                <sup class="h6 text-contrast">$</sup>
                <span class="h3 price-amount">99</span>
                <sup class="h6 text-contrast"></sup>

              </div>

            </div>
            <!-- panel overlay panel overlay container TODO for the price -->
            </div>
          </div>

          <div class="gallery-snapshot-body-container">
            <div class="media">
              <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                <img ng-src="{{vm.testImages[10]}}" width="56px" alt="" />
              </a>
              <a href="#" class="text-normal">
<h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">French Publishing</h3>
              </a>
              <div class="text-muted listing-location text-truncate">
                  Quick Or Meta- Description Of The Product
              </div>
            </div>
          </div>
        </div>


        <div layout="column">

          <div class="panel-image listing-img">
            <a href="#" class="media-cover media-photo">
              <div class="media-cover">
                <img src="./images/other-influencers/cosmo-editor-cropped.jpeg" class="img-responsive-height" alt="panel snapshot image" />
              </div>
            </a>
            <div class="panel-overlay-container">
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
              <div>
                <sup class="h6 text-contrast">$</sup>
                <span class="h3 price-amount">99</span>
                <sup class="h6 text-contrast"></sup>

              </div>

            </div>
            <!-- panel overlay panel overlay container TODO for the price -->
            </div>
          </div>

          <div class="gallery-snapshot-body-container">
            <div class="media">
              <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                <img ng-src="{{vm.testImages[0]}}" width="56px" alt="" />
              </a>
              <a href="#" class="text-normal">
<h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Editing Cosmo</h3>
              </a>
              <div class="text-muted listing-location text-truncate">
                  Quick Or Meta- Description Of The Product
              </div>
            </div>
          </div>
        </div>


      </div>

   </div>

   <div layout="row" layout-align="center center" class="row-space-6">
     <div layout="column">
      <a href="#/gallery">
        <md-button class="md-raised md-448aff md-button-large">
          See All Available Pics
        </md-button>
      </a>
     </div>
   </div>
  <div layout="column" class="divider-hr">
    <md-divider class="divider-hr"></md-divider>
  </div>

  </div>

</section>


<!-- writers authors end -->

<!-- business entrepreneurs start -->

<section class="discovery-section">
  <div class="site-width">
    <div layout="column" class="gallery-snapshot-container row-space-20">
    <div layout="row" class="row-side-padding-fix">
        <div class="galleries-snapshot-category-name-row">
          <h2 class="discovery-section-headline">Business & Entrepreneurs</h2>
        </div>
    </div>
    <div class="row-space-6" layout="column" layout-gt-sm="row" layout-align-gt-xs="center start" layout-padding>
      <div flex-gt-sm="70" class="gallery-snapshot-big-image">
        <figure class="media-photo media-photo-block discovery-image">
          <img src="./images/business-discovery-1.jpg" class="discovery-image img-responsive" alt="big image gallery snapshot" />

          <figurecaption class="media-caption"></figurecaption>
        </figure>
      </div>
      <div flex-gt-sm="30" class="gallery-snapshot-category-info-wrapper" layout="column" layout-align="">
        <!-- TODO: figure out small screen sizes positioning margin for the section below -->
        <div class="gallery-snapshot-category-info">
          <h4 class="style-highlights-h4 info-header">Entrepreneur Highlights</h4>
        <div class="gallery-snapshot-category-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores in optio eum reprehenderit, vitae, nostrum repudiandae deserunt accusamus. Doloribus nostrum quod sit odit quos voluptates repudiandae nobis tenetur ad. Omnis.
        </div>
    </div>
</div>
</div>
<div layout="column">

    <div layout="row" class="row-side-padding-fix info-header">
        <h4 class="available-in-h4 available-in-h4-bottom-spacing-fix ">
        Available In Category
      </div></div>
      <div layout="row" layout-wrap layout-padding>
        <!-- ngrepeat will be needed here TODO -->

        <div layout="column">

          <div class="panel-image listing-img">
            <a href="#" class="media-cover media-photo">
              <div class="media-cover">
                <img src="./images/business/rolffinge800w.jpeg" class="img-responsive-height" alt="panel snapshot image" />
              </div>
            </a>
            <div class="panel-overlay-container">
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
              <div>
                <sup class="h6 text-contrast">$</sup>
                <span class="h3 price-amount">99</span>
                <sup class="h6 text-contrast"></sup>

              </div>

            </div>

            </div>
          </div>

          <div class="gallery-snapshot-body-container">
            <div class="media">
              <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                <img ng-src="{{vm.testImages[1]}}" width="56px" alt="" />
              </a>
              <a href="#" class="text-normal">
<h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Norwegian Marketeer</h3>
              </a>
              <div class="text-muted listing-location text-truncate">
                  Quick Or Meta- Description Of The Product
              </div>
            </div>
          </div>
        </div>


        <div layout="column">

          <div class="panel-image listing-img">
            <a href="#" class="media-cover media-photo">
              <div class="media-cover">
                <img src="./images/smart-locations/elance-whitewall-350.jpg" class="img-responsive-height" alt="panel snapshot image" />
              </div>
            </a>
            <div class="panel-overlay-container">
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
              <div>
                <sup class="h6 text-contrast">$</sup>
                <span class="h3 price-amount">99</span>
                <sup class="h6 text-contrast"></sup>

              </div>

            </div>
            <!-- panel overlay panel overlay container TODO for the price -->
            </div>
          </div>

          <div class="gallery-snapshot-body-container">
            <div class="media">
              <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                <img ng-src="{{vm.testImages[2]}}" width="56px" alt="" />
              </a>
              <a href="#" class="text-normal">
<h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Whitewall Architect</h3>
              </a>
              <div class="text-muted listing-location text-truncate">
                  Quick Or Meta- Description Of The Product
              </div>
            </div>
          </div>
        </div>


        <div layout="column">

          <div class="panel-image listing-img">
            <a href="#" class="media-cover media-photo">
              <div class="media-cover">
                <img src="./images/smart-locations/ypn-aaman.jpg" class="img-responsive-height" alt="panel snapshot image" />
              </div>
            </a>
            <div class="panel-overlay-container">
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
              <div>
                <sup class="h6 text-contrast">$</sup>
                <span class="h3 price-amount">99</span>
                <sup class="h6 text-contrast"></sup>

              </div>

            </div>
            <!-- panel overlay panel overlay container TODO for the price -->
            </div>
          </div>

          <div class="gallery-snapshot-body-container">
            <div class="media">
              <a href="#" class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset">
                <img ng-src="{{vm.testImages[3]}}" width="56px" alt="" />
              </a>
              <a href="#" class="text-normal">
<h3 title="Studio At Fifth Avenue Flat Iron" class="h5 listing-name text-truncate row-space-top-1">Banking In The City</h3>
              </a>
              <div class="text-muted listing-location text-truncate">
                  Quick Or Meta- Description Of The Product
              </div>
            </div>
          </div>
        </div>


      </div>

   </div>

   <div layout="row" layout-align="center center" class="row-space-6">
     <div layout="column">
      <a href="#/gallery">
        <md-button class="md-raised md-448aff md-button-large">
          See All Available Pics
        </md-button>
      </a>
     </div>
   </div>
  <div layout="column" class="divider-hr">
    <md-divider class="divider-hr"></md-divider>
  </div>

  </div>

</section>


<!-- business entrepreneurs end -->


</div>
